@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap);

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'inter', inter, serif;
    font-size: 18px;

}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 0;
    flex: 1;
    background: rgb(46, 49, 75);
    color: white;
}

.header-links{
    display: flex;
    padding: 0;
    margin: 0;
}
.hero-section{
    padding: 32px;
    margin-bottom: 40px;
    background: rgb(46, 49, 75);
    color: white;
    display: flex;
    align-items: center;
    gap: 40px;
}

.CTA-section{
    display:flex;
    flex-flow: column;
    width: 300px;
    flex: 1
}

.content{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space
    ;
    gap: 16px;
    margin-bottom: 40px;
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.card-container{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
}

.testimonial{
    background-color: rgb(233, 233, 233);
    padding: 32px;
    margin-bottom: 40px;
    height: 200px;
    align-items: center;
}




li{
    list-style-type: none;
    margin: 16px;
    padding: 0

}

h1{
    margin-bottom: 0;
}

.hero-img{
    width: 400px;
    border-radius: 8px;
}

button{
    padding: 8px;
    background-color: white;
    font-weight:500px;
    border-radius: 16px;
    max-width: 200px;
}

.card-container img{
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.second-cta{
    background-color: #0a3ee9;
    margin: 32px;
    border-radius: 12px;
    padding: 16px;
}

.bottom-cta-container{
    display:flex;
    color: white;
    align-items: center;
    justify-content: space-around;

}

  
#dash{
    text-align: right;
    font-weight: 700;
    font-style: italic;
}

.bottom-cta-container button{
    border-color: white;
    color: white;
    background-color:#0a3ee9;
    width: 300px;
    height: 40px;
    border-radius: 8px;
}

.text-container p{
    font-weight: 200;
    font-size: 12px;
}
h3{
    margin-bottom: -5px;
}